
.bar {
  fill: DarkSlateGray;
}



.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text{
    font-family: Verdana;
    font-size: 12px;	
    font-weight: bold;
    fill:DimGray;
}
.x.axis path {
  display: none;
}
.area {
  fill: DarkSlateGray;
}